When we want to calculate the ```scipy.stats.chi2_contingency()``` for two columns of <ins>pandas Dataframe</ins> The data is categorical, the task is to build the crosstable sums(contigency table) of each category-relationship

In [ ]:
 import pandas
 from scipy.stats import chi2_contingency



 def chisq_of_df_cols(df, c1, c2):
   groupsizes = df.groupby([c1, c2]).size()
   ctsum = groupsizes.unstack(c1)
   # fillna(0) is necessary to remove any NAs which will cause exceptions
   return(chi2_contingency(ctsum.fillna(0)))

test_df = pandas.DataFrame([[0, 1], [1, 0], [0, 2], [0, 1], [0, 2]], columns=['var1', 'var2'])
chisq_of_df_cols(test_df, 'var1', 'var2')

(5.000000000000001, 0.08208499862389874, 2, array([[0.8, 0.2],
        [1.6, 0.4],
        [1.6, 0.4]]))

```pandas.crosstab``` compute a simple cross tabulation of two (or more) factos. By default compute a frequency table of the factors unless an array of values and an aggregation function are passed

In [ ]:
pandas.crosstab(test_df.var2, test_df.var1)

var1  0  1
var2
0     0  1
1     2  0
2     2  0

In [ ]:
chi2_contingency(pandas.crosstab(test_df.var2, test_df.var1))

(5.000000000000001, 0.08208499862389874, 2, array([[0.8, 0.2],
        [1.6, 0.4],
        [1.6, 0.4]]))

```pandas.DataFrame.unstack``` pivot a level of the(necessarily hierrchical) index labels. Return a DataFrame having a new level of column labels whose inner-most level consists of the pivoted index labels

In [ ]:
test_df.groupby(['var1', 'var2']).size()

var1  var2
0     1       2
      2       2
1     0       1
dtype: int64

In [ ]:
df = test_df.groupby(['var1', 'var2']).size()
df.unstack(level = 'var1')

var1    0    1
var2
0     NaN  1.0
1     2.0  NaN
2     2.0  NaN